.toast {
    box-shadow: none !important;
    opacity: 1 !important;

    &.toast-success {
        @apply bg-green-600;
    }

    &.toast-error {
        @apply bg-red-600;
    }

    &.toast-info {
        @apply bg-primary-600;
    }

    &.toast-warning {
        @apply bg-orange-600;
    }

    &:hover,
    &:focus {
        box-shadow: none;
        opacity: 1;
    }
}
