<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

  @entryPointStyles('app')
</head>

<body>
  @include('layouts/base/header')

  <main class="container my-5">
    @!section('body')
  </main>

  @include('layouts/base/footer')
</body>

</html>